<h1>Favorites</h1>

<% @favorites.each do |favorite| %>
  <p><%= favorite.feed.content %></p>
  <p><%= image_tag favorite.feed.image.url %></p>
  <p>Liked by <%= favorite.user.name %></p>
  <p>-----------------------------------------------------------------------------------------------------------------------------------------</p>
<% end %>