<h1>Favorites</h1>

<% @favorites.each do |favorite| %>
  <p><%= favorite.picture.content %></p>
  <p><%= image_tag favorite.picture.image.url %></p>
  <p>Liked by <%= favorite.user.name %></p>
  <p>-----------------------------------------------------------------------------------------------------------------------------------------</p>
<% end %>